.calculadora {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  
  #resultado {
    font-size: 24px;
    height: 40px;
    background-color: #d57d2f; /* Cambia el color a tu elección */
    color: white;
  }
  
  
  .botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
  }
  
  button {
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: #2b4391; /* Cambia el color a tu elección */
  color: white;
  }

  .nombre {
    width: 300px;
    margin: 70px auto 0;
    text-align: center;
  }
  
  